#projects
  .internal-wrapper
    %h1 Projects
    %hr.underline
    - data.projects.each do |project|
      .row.animation-element
        .picture-holder
          = link_to image_tag(project.image), project.hosted, target: '_blank'
        .desc
          %h2.title= project.name
          %hr
          %p.status
            Status:
            = project.status
          %p= project.description
          .date= project.date
          %ul
            - project.skills.each do |skill|
              %li.tag= skill
        .clear
